@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@source "../../Controllers/**/*";
@source "../../Views/**/*";
@source "../../wwwroot/**/*";

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  /*color: var(--bs-secondary-color);*/
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.navbar-element{}

@layer components {
  .navbar-element {
    @apply hover:bg-cyan-700;
    @apply transition-colors;
    @apply duration-200;
    @apply h-full;
    @apply w-full;
    @apply last:border-r-0;
    @apply border-r-2;
  }
}

