@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #FFFFFF;
  --color-black: #000000;

}

@theme inline {
  --color-clr-60-1: var(--clr-60-1);
  --color-clr-30-1: var(--clr-30-1);
  --color-clr-10-1: var(--clr-10-1);
  --color-clr-10-2: var(--clr-10-2);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100vh;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  /*color: var(--bs-secondary-color);*/
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.navbar-element{}
.db-inputfield-container{}

@layer base {
  h4 {
    @apply text-xl;
    
  }

  :root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --clr-60-1: #1B262C;
    --clr-30-1: #0F4C75;
    --clr-10-2: #BBE1FA;
    --clr-10-1: #3282B8;
  }
  
  .dark {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --clr-60-1: #0F4C75;
    --clr-30-1: #1B262C;
    --clr-10-1: #BBE1FA;
    --clr-10-2: #3282B8;
  }
}

@layer components {
  .navbar-element {
    @apply hover:bg-clr-10-2;
    @apply transition-colors;
    @apply duration-200;
    @apply h-full;
    @apply w-full;
    @apply last:border-r-0;
    @apply border-r-2;
  }
  
  .db-inputfield-container {
    @apply flex flex-col w-full;
  }
}




